.DS_Store


nvim/tt.*
nvim/.tests
nvim/doc/tags
nvim/debug
nvim/.repro
nvim/foo.*
nvim/*.log
nvim/data

zellij/zjstatus-releases

herdr/herdr-client.log
herdr/herdr-client.sock
herdr/herdr-server.log
herdr/herdr.sock
herdr/release-notes.json
herdr/session.json
herdr/.plugins.lock
